body {
  margin: 50px;
}
.center {
  display: block;
  text-align: center;
}
h1 {
  font-size: 18px;
}
h2 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}
header img {
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}
header button {
  margin: 30px;
}
header form {
  display: inline;
}
#article {
  font-family: "Verdana";
  background-color: #f6f6f6;
  padding: 20px;
}
#body {
  display: inline-block;
  margin: 5px;
}
#body p {
  text-align: justify;
  margin: 0;
}

#body img {
  float: left;
  width: 200px;
  padding: 0 15px 5px 0;
}

#tools {
  margin: 20px;
}
#tools input {
  margin-left: 20px;
}
